*{

}

.photo{
  border: 2px;
  width: 100%;
  max-width: 500px;
  min-width: 100px;
}

p.info{
  color:blue;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-style: solid;
  background-color: lightgray;
}

p.personal{
  color: lightgreen;
  font-weight: bold;
  font-family: sans-serif;
  font-style: italic;
  border-style: dashed;
 } 